*.deb
**/*.jar
target
build
spark-warehouse
.bsp
.bsp/*

local-tests
.gradle
.versions
.localstack
tmp
.terraform
terraform.tfstate.d
terraform.tfstate
terraform.tfstate.backup
tf.plan
tf.json
vendor
go.sum
